:root{
    --text-color: rgba(0, 0, 0, 0.949);
    --accent-color: rgb(255, 255, 255);
    --motion-color: rgb(12, 31, 126);
    --hover-color: rgba(117, 117, 117, 0.571);
    --hov-color: rgba(212, 212, 212, 0.038);
}



*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}


nav{
    margin-top: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16rem;
    position: fixed;
    width: 100%;
    top: 0%;
    height: 8rem;
    background: var(--accent-color);
    padding: 1.5rem 0;
    z-index: 100;
    overflow: hidden;
}

.toggler{
    display: none;
    flex-direction: column;
    gap: .2rem;
    float: right;
    cursor: pointer;
}

.toggler .line{
    background: var(--motion-color);
    width: 2rem;
    height: .3rem;
}

.logo{
    display: flex;
    align-items: center;
    gap: 6rem;
}

.logo a.log{
    color: var(--motion-color);
    font-size: 1.6rem;
    font-weight: 800;
}

.logo span{
    color: var(--text-color);
}

 .act{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}


 .act a{
    color: var(--text-color);
    font-size: 1.1rem;
    transition: .3s;
}

 .act a:hover{
    color: var(--hover-color);
}


.user{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.user img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: .1rem solid var(--hover-color);
}

.user a{
    background: var(--hover-color);
    color: var(--accent-color);
    width: 5rem;
    padding: .5rem 0;
    text-align: center;
    border-radius: .5rem;
    font-weight: 600;
    transition: .3s;
}

.user a:hover{
    background: var(--hover-color);
    color: var(--text-color);
}


section{
    margin: 5rem 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h4{
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
}



.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    float: left;
}



.master{
    background: linear-gradient(to right, rgba(24, 23, 23, 0.815), rgba(29, 23, 23, 0.692), rgba(75, 75, 73, 0.849));
    width: 20rem;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--accent-color);
    margin-bottom: 1rem;
    transition: .4s;
}

.master:hover{
    box-shadow: 0 0 1rem .2rem var(--hover-color);
    transform: scale(1.02);
    background: linear-gradient(to left, rgb(24, 23, 23), rgb(29, 23, 23), rgb(19, 19, 18));
}


.master .cc_name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    margin-top: -1rem;
}

.master, .visa .cc_name p{
    font-weight: 550;
}

.cc_number{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.date{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;
}

.date .me{
    font-weight: 600;
    font-size: 1.4rem;
}



 p.num{
    font-size: 2rem;
}


.cc_name .chip{
    width: 4rem;
    height: 3rem;
}

.cc_number .masa{
    width: 4rem;
    margin-bottom: -4rem;
}


.cv{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.cv p{
    font-size: .8rem;
}


.cards .order{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent-color);
    font-weight: 700;
    text-align: center;
    background: var(--hover-color);
    padding: .8rem 0;
    border-radius: 1rem;
    transition: .4s;
    margin-top: 2rem;
}


.cards .order:hover{
    color: var(--accent-color);
    background: var(--text-color);
}


.cards .orders{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent-color);
    font-weight: 700;
    text-align: center;
    background: var(--text-color);
    padding: .4rem 0;
    border-radius: 1rem;
    transition: .4s;
    margin-top: 2rem;
    width: 6rem;
}


.cards .status{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    align-items: center;
    color: var(--accent-color);
    font-weight: 700;
    text-align: center;
    background: var(--text-color);
    padding: .4rem 0;
    border-radius: 1rem;
    transition: .4s;
    margin-top: 2rem;
    width: 8rem;
}


.visa{
    background: linear-gradient(to right, rgba(192, 10, 192, 0.911), rgba(181, 22, 196, 0.781), rgba(134, 48, 173, 0.849));
    width: 20rem;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--accent-color);
    margin-bottom: 1rem;
    transition: .4s;
}


.visa:hover{
    box-shadow: 0 0 1rem .2rem var(--hover-color);
    transform: scale(1.02);
    background: linear-gradient(to left, rgba(202, 35, 202, 0.911), rgba(190, 31, 204, 0.918), rgba(139, 46, 182, 0.884));
}

.visa .cc_name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    margin-top: -1rem;
}


footer{
    background: var(--hov-color);
    margin-bottom: -1rem;
    padding: 5rem;
    text-align: center;
}


hr{
    border: .1rem solid var(--text-color);
    margin: 2rem 12rem;
}

.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12rem;
}


.foot .log{
    color: var(--motion-color);
    font-size: 1.6rem;
    font-weight: 800;
}

.foot span{
    color: var(--text-color);
}

.foot .act{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}


.foot .act a{
    color: var(--text-color);
    font-size: 1.1rem;
    transition: .3s;
}

.foot .act a:hover{
    color: var(--hover-color);
}



.trm .terms{
    color: var(--motion-color);
    transition: .4s;
}


.trm .terms:hover{
    color: var(--hover-color);
}


/* -----------------Media Queries--------------- */

@media (max-width: 1450px) {
    nav{
        margin-top: -1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0rem;
        width: 100%;
        top: 0%;
        height: 6rem;
        background: var(--accent-color);
        padding: 1.5rem 5rem;
        z-index: 100;
        overflow: hidden;
    }

    section{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 5rem;
        margin: 5rem 0;
    }
    
    .container{
        display: flex;
        gap: 0rem;
    }
    
    .container img.move{
        width: 50vw;
        border-top-left-radius: 20rem;
        border-bottom-left-radius: 10rem;
        border-top-right-radius: 10rem;
        border-bottom-right-radius: 20rem;
        animation: move 5s ease infinite ;
    }
    
    .foot{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7rem;
    }
    
}


@media (max-width: 1068px) {
    nav{
        margin-top: -1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0rem;
        width: 100%;
        top: 0%;
        height: 6rem;
        background: var(--accent-color);
        padding: 1.5rem 2rem;
        z-index: 100;
        overflow: hidden;
    }
    
    .logo a.log{
        color: var(--motion-color);
        font-size: 1.6rem;
        font-weight: 800;
    }

    section{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 5rem 2rem;
        margin: 5rem 0;
    }
    
    .container{
        display: flex;
        gap: 3rem;
    }

    .master{
        width: 100%;
    }

    .visa{
        width: 100%;
    }


    footer{
        background: var(--hov-color);
        margin-bottom: -1rem;
        padding: 2rem;
        text-align: center;
    }
    
    
    hr{
        border: .1rem solid var(--text-color);
        margin: 2rem 1rem;
    }
    
    .foot{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}





@media (max-width: 768px) {
    nav{
        display: block;
        gap: 2rem;
        position: fixed;
        top: 0%;
        left: 0%;
        height: 4.5rem;
        background: var(--accent-color);
        padding: 1.5rem 0;
        z-index: 100;
        transition: .3s;
        box-shadow: 0 0 .2rem 0 var(--text-color);
        border-bottom-left-radius: .8rem;
        border-bottom-right-radius: .8rem;
    }

    .nav_height{
        height: auto;
    }

    .logo{
        display: flex;
        margin: 0 2rem;
        justify-content: space-between;

    }

    .logo a.log{
        color: var(--motion-color);
        font-size: 1.4em;
        font-weight: 800;
    }
    

    .act{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        margin: 3rem;
    }



    .toggler{
        display: flex;
    }
    
    
    .user img{
        display: none;
    }
    
    .user a{
        width: 80%;  
    }
    

    section{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0rem;
        margin: 4rem 2rem;
    }
    
    .container{
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }



    footer{
        display: flex;
        flex-direction: column;
        background: var(--hov-color);
        margin-bottom: -1rem;
        padding: 2rem;
        text-align: center;
    }
    

    .foot{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    hr{
        border: .1rem solid var(--text-color);
        margin: 0;
        width: 100%;
    }
}


