:root{
    --text-color: #000000f2;
    --accent-color: #ffffff;
    --motion-color: #0c1f7e;
}



*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}



section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 13rem;
    padding: 2rem;
}


form{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
    color: var(--accent-color);
    border-radius: 1rem;
    width: 50rem;
    box-shadow: 0 0 .5rem 0 var(--text-color);
}

form h4{
    text-align: center;
    margin-top: -.5rem;
    font-size: 150%;
    font-weight: bolder;
}

.con{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

form .reg{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

form .reg label{
    font-size: 1.1rem;
    letter-spacing: .1rem;
    margin-bottom: .5rem;
}


form .reg input{
    padding: 1rem .5rem;
    border-radius: .4rem;
    background: rgba(255, 255, 255, 0.093);
}

form .reg input::placeholder{
    color: var(--text-color);
    font-size: 1rem;
}

form p{
    color: red;
}

.cont{
    width: 100%;
    height: 4.5rem;
    border-radius: .4rem;
    background: var(--text-color);
    overflow: hidden;
    position: relative;
}

.cont::before{
    content: '';
    position: absolute;
    left: 40%;
    top: -435%;
    width: 28px;
    height: 350px;
    background: var(--accent-color);
    animation: animate 14s linear infinite;
    transform-origin: bottom right;
}

.cont::after{
    content: '';
    position: absolute;
    right: 40%;
    top: -435%;
    width: 28px;
    height: 350px;
    background: var(--accent-color);
    animation: animate 14s linear infinite;
    transform-origin: bottom right;
    animation-delay: -7s;
}

@keyframes animate{
   0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

form .button{
    border-radius: .4rem;
    color: var(--accent-color);
    background: black;
    font-size: 1.1rem;
    font-weight: 900;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    inset: 2px;
    margin: 0;
}

form small{
    display: flex;
    justify-content: end;
    margin: 1rem 0;
    margin-bottom: -1rem;
    text-align: end;
    gap: .4rem;
    font-size: 80%;
}

.note{
    font-size: .8rem;
    color: var(--accent-color);
}

form small a{
    color: var(--text-color);
    font-weight: 600;
}

section p.trm{
    font-size: .8rem;
}

.terms{
    color: var(--motion-color);
}

@media (max-width: 1000px){
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        height: 100vh;
        width: 100%;
        padding: 0 5rem;
    }



    form {
        width: 85vw;
    }
}


@media (max-width: 750px) {
    #form {
        padding: 40px 20px;
        box-shadow: 0 0 .5rem 0 var(--text-color);
    }
    .con {
        display: flex;
        flex-direction: column;
        gap: 0;

    }
    .reg {
        margin-bottom: 15px;
    }

    .note{
        color: var(--accent-color);
    }
}
