:root{
    --text-color: #000000f2;
    --accent-color: #ffffff;
    --motion-color: #0c1f7e;
}



*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}



section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2rem;
}


form{
    background: linear-gradient(to right, #202021c4, #2e48c8aa, #0c1f7e9f), url(/Card-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
    color: var(--accent-color);
    border-radius: 1rem;
    width: 30rem;
    box-shadow: 0 0 .5rem 0 var(--text-color);
}

form h4{
    text-align: center;
    margin-top: -.5rem;
    font-size: 150%;
    font-weight: bolder;
}

form .reg{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

form .reg label{
    font-size: 1.1rem;
    letter-spacing: .1rem;
    margin-bottom: .5rem;
}


form .reg input{
    width: 100%;
    padding: 1rem .5rem;
    border-radius: .4rem;
    background: rgba(255, 255, 255, 0.093);
}

form .reg input::placeholder{
    color: var(--text-color);
    font-size: 1rem;
}

form p{
    color: red;
}

.cont{
    width: 100%;
    height: 3rem;
    border-radius: .4rem;
    background: var(--text-color);
    overflow: hidden;
    position: relative;
}

.cont::before{
    content: '';
    position: absolute;
    left: 50%;
    top: -470%;
    width: 21px;
    height: 250px;
    background: var(--accent-color);
    animation: animate 14s linear infinite;
    transform-origin: bottom right;
}

.cont::after{
    content: '';
    position: absolute;
    right: 50%;
    top: -470%;
    width: 21px;
    height: 250px;
    background: var(--accent-color);
    animation: animate 14s linear infinite;
    transform-origin: bottom right;
    animation-delay: -7s;
}

@keyframes animate{
   0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

form .button{
    border-radius: .4rem;
    color: var(--accent-color);
    background: black;
    font-size: 1.1rem;
    font-weight: 900;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    inset: 2px;
    margin: 0;
    margin-top: 0.01rem;
}

form small{
    display: flex;
    justify-content: end;
    margin: 1rem 0;
    margin-bottom: -1rem;
    text-align: end;
    gap: .4rem;
    font-size: 80%;
}

.note{
    font-size: .8rem;
    color: var(--accent-color);
}

form small a{
    color: var(--text-color);
    font-weight: 600;
}

section p.trm{
    font-size: .8rem;
}

.terms{
    color: var(--motion-color);
}

@media (max-width: 750px){
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        height: 100vh;
        width: 100%;
        padding: .5rem;
    }
    
    
    form{
        padding: 2rem 1rem;
        color: var(--accent-color);
        border-radius: 1rem;
        max-width: 90vw;
        box-shadow: 0 0 .5rem 0 var(--text-color);
    }

    section p{
        font-size: .7rem;
    }

    .note{
        font-size: .6rem;
        color: var(--accent-color);
    }
}