:root{
    --text-color: rgba(0, 0, 0, 0.949);
    --accent-color: rgb(255, 255, 255);
    --motion-color: rgb(12, 31, 126);
    --hover-color: rgba(117, 117, 117, 0.571);
    --hov-color: rgba(212, 212, 212, 0.038);
}



*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}


nav{
    margin-top: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16rem;
    position: fixed;
    width: 100%;
    top: 0%;
    height: 6rem;
    background: var(--accent-color);
    padding: 1.5rem 0;
    z-index: 100;
    overflow: hidden;
}

.toggler{
    display: none;
    flex-direction: column;
    gap: .2rem;
    float: right;
    cursor: pointer;
}

.toggler .line{
    background: var(--motion-color);
    width: 2rem;
    height: .3rem;
}

.logo{
    display: flex;
    align-items: center;
    gap: 6rem;
}

.logo a.log{
    color: var(--motion-color);
    font-size: 1.6rem;
    font-weight: 800;
}

.logo span{
    color: var(--text-color);
}

 .act{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}


 .act a{
    color: var(--text-color);
    font-size: 1.1rem;
    transition: .3s;
}

 .act a:hover{
    color: var(--hover-color);
}


.user{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.user img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: .1rem solid var(--hover-color);
}

.user a{
    background: var(--hover-color);
    color: var(--accent-color);
    width: 5rem;
    padding: .5rem 0;
    text-align: center;
    border-radius: .5rem;
    font-weight: 600;
    transition: .3s;
}

.user a:hover{
    background: var(--hover-color);
    color: var(--text-color);
}


section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 5rem;
}


p.head{
    font-size: 3rem;
    margin-bottom: -1rem;
}


p.header{
    font-size: 1.4rem;
    margin-bottom: 1rem;
    text-align: center;
}

p.follow{
    margin: 0 2rem;
}

b.bod{
    margin: .4rem 2rem;
    font-size: 1rem;
    text-align: left;
    color: var(--text-color);
}



form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(41, 41, 41, 0.758), rgba(69, 69, 70, 0.834), rgba(93, 94, 102, 0.697)), url(/Card-hero.png);
    box-shadow: 0 0 .1rem 0 var(--text-color);
    border-radius: 1rem;
    width: 40rem;
    padding: 2rem 1rem;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form p{
    color: var(--text-color);
    font-weight: 600;
}

.cop{
    color: var(--motion-color);
}

form b{
    text-align: center;
    margin: 1rem 0;
    font-size: 1.5rem;
    color: var(--accent-color);
}


form button{
    margin: .5rem 0;
    padding: 1.2rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    background: var(--hover-color);
    text-align: center;
    color: var(--accent-color);
    backdrop-filter: blur(6px);
    transition: .3s;
}

form button:hover{
    filter: brightness(.7) saturate(1.9);
}


form a.btn{
    margin: .5rem 0;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    cursor: pointer;
    background: red;
    text-align: center;
    color: var(--text-color);
    color: var(--accent-color);
    transition: .4s;
}


form a.btn:hover{
    background: rgba(255, 0, 0, 0.562);
    filter: brightness(.7) saturate(1.9);

}





.upload{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
    justify-content: center;
}

.screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;
    padding: 1rem ;
    text-align: center;
    backdrop-filter: blur(6px);
    color: var(--accent-color);
    font-size: 1.5rem;
    gap: 2rem;
    background: rgba(255, 255, 255, 0.344);
    border-radius: .6rem;
}

.screen img{
    width: 4rem;
    height: 4rem;
    left: 40%;
    position: relative;
}

.screen input{
    position: absolute;
    height: 4rem;
    width: 4.2rem;
    left: 40%;
    top: 20%;
    opacity: 0;
    margin-top: -.8rem;
}

.screen p{
    font-size: .8rem;
}


form .notification{
    margin-bottom: 1rem;
    text-align: center;
    color: var(--motion-color);
}

.or{
    width: 100%;
    background: var(--accent-color);
    height: .1rem;
    margin: 3rem 0;
    position: relative;
}

.or p{
    position: absolute;
    left: 48%;
    margin-top: -1rem;
    background: var(--accent-color);
    width: 2rem;
    height: 2rem;
    text-align: center;
    padding-top: .5rem;
    border-radius: 50%;
}

.btc{
    width: 8rem;
    height: 8rem;
    margin: 1rem 40%;
}

p.bod{
    font-size: .8rem;
    margin: 1rem 2rem;
}


.gat{
    text-align: center;
}


footer{
    background: var(--hov-color);
    margin-bottom: -1rem;
    padding: 5rem;
    text-align: center;
}


hr{
    border: .1rem solid var(--text-color);
    margin: 2rem 18rem;
}

.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40rem;
}


.foot .log{
    color: var(--motion-color);
    font-size: 1.6rem;
    font-weight: 800;
}

.foot span{
    color: var(--text-color);
}

.foot .act{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}


.foot .act a{
    color: var(--text-color);
    font-size: 1.1rem;
    transition: .3s;
}

.foot .act a:hover{
    color: var(--hover-color);
}



.trm .terms{
    color: var(--motion-color);
    transition: .4s;
}


.trm .terms:hover{
    color: var(--hover-color);
}

/* -----------------Media Queries--------------- */

@media (max-width: 1450px) {
    nav{
        margin-top: -1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0rem;
        width: 100%;
        top: 0%;
        height: 6rem;
        background: var(--accent-color);
        padding: 1.5rem 5rem;
        z-index: 100;
        overflow: hidden;
    }

}


@media (max-width: 1068px) {
    nav{
        margin-top: -1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0rem;
        width: 100%;
        top: 0%;
        height: 6rem;
        background: var(--accent-color);
        padding: 1.5rem 2rem;
        z-index: 100;
        overflow: hidden;
    }
    
    .logo a.log{
        color: var(--motion-color);
        font-size: 1.6rem;
        font-weight: 800;
    }

    


    footer{
        background: var(--hov-color);
        margin-bottom: -1rem;
        padding: 2rem;
        text-align: center;
    }
    
    
    hr{
        border: .1rem solid var(--text-color);
        margin: 2rem 1rem;
    }
    
    .foot{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20rem;
    }
}





@media (max-width: 768px) {
    nav{
        display: block;
        gap: 2rem;
        position: fixed;
        top: 0%;
        left: 0%;
        height: 4rem;
        background: var(--accent-color);
        padding: 1.5rem 0;
        z-index: 100;
        transition: .3s;
        box-shadow: 0 0 .2rem 0 var(--text-color);
        border-bottom-left-radius: .8rem;
        border-bottom-right-radius: .8rem;
    }

    .nav_height{
        height: 27rem;
    }

    .logo{
        display: flex;
        margin: 0 2rem;
        justify-content: space-between;

    }

    .logo a.log{
        color: var(--motion-color);
        font-size: 1.4em;
        font-weight: 800;
    }
    

    .act{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        margin: 3rem;
    }



    .toggler{
        display: flex;
    }
    
    
    .user img{
        display: none;
    }
    
    .user a{
        width: 80%;  
    }
    

    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        margin: 2rem;
        margin-top: 4rem;
    }
    
    
    p.head{
        font-size: 1.8rem;
        margin-bottom: -2rem;
    }

    .caution{
        text-align: center;
    }
    
    form{
        display: flex;
        flex-direction: column;
        background: linear-gradient(to bottom, rgba(41, 41, 41, 0.758), rgba(69, 69, 70, 0.834), rgba(93, 94, 102, 0.697)), url(/Card-hero.png);
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 0 .5rem 0 var(--text-color);
        border-radius: 1rem;
        width: 80vw;
        padding: 2rem 1rem;
    }


    footer{
        display: flex;
        flex-direction: column;
        background: var(--hov-color);
        margin-bottom: -1rem;
        padding: 2rem;
        text-align: center;
    }
    

    .foot{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    hr{
        border: .1rem solid var(--text-color);
        margin: 0;
        width: 100%;
    }
}


